(
alt: Some("⌥"),
back_tab: Some("↰"),
backspace: Some("←"),
control: Some("^"),
delete: Some("←"),
down: Some("▼"),
end: Some("Ω"),
enter: Some("↲"),
esc: Some("«"),
home: Some("∑"),
insert: Some(">"),
left: Some("◄"),
page_down: Some("▽"),
page_up: Some("△"),
right: Some("►"),
shift: Some("⁊"),
tab: Some("→"),
up: Some("▲"),
)
